body {
    background-image: url("usflag.jpg");
    background-color: #888888;
    color: white;
    text-align: center;
}

h1 {
    color: red;
    font-size: 300%;
    text-align: center;
}

h2 {
    color: #099FFF;
    font-size: 250%;
}

p {
    color: white;
    font-size: 200%;
    font-style: italic;
    margin: 50px 150px 100px 80px;
}
